/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu

# .config.yml

public/
data/

enumia
eunomia

main

.config.yml
.config.yml.bak

conf/config.yml
*.bak

connect
